# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        output_format = "i3bar"
        colors = false
        markup = pango
        interval = 5
}

# order += "ipv6" // We don't have IPv6 right now so lets free up some bar space.
order += "ethernet _first_"
order += "load"
order += "memory"
order += "tztime vtc"

ethernet _first_ {
        format_up = "<span background='#388e3c'>  </span><span background='#bfbaac'> up </span>"
        format_down = "<span background='#289c93'>   </span><span background='#bfbaac'> down </span>"
}

load {
        format = "<span background='#FB8C00'>  </span><span background='#bfbaac'> %1min %5min %15min </span>"
        max_threshold = "{{ load_max_threshold }}" # Calculated 85% of the # of available CPUs
        format_above_threshold = "<span background='#e32e2b'>   </span><span background='#e53935'>Warning: %1min %5min %15min"
}

memory {
        format = "<span background='#00838f'>  </span><span background='#bfbaac'> %free/%available </span>"
        threshold_degraded = "10%"
        threshold_critical = "5%"
        decimals = "0"
        format_degraded = "<span background='#f7ea36'>   </span><span background='#e53935'> Memory LOW </span> <span background='bfbaac'> %free </span>"
}

tztime vtc {
        format = "<span background='#03a9f4'>  </span><span background='#bfbaac'> %H:%M </span>"
        timezone = "America/New_York"
}
