# This file is automatically added and configured by the 1Password package. Modifications may be overwritten.
deb [arch=amd64 signed-by={{ onepassword_gpg_path }}] {{ onepassword_deb_url }} stable main